@model User





<div class="containerPersonalAccount">
     <link rel="stylesheet" href="~/css/Personal_Account.css">
     <div class="account-container">
     <div>
         <title>Деталі користувача</title> 
     </div>
      
    
        <h2 class="account-header">Деталі користувача</h2>

        <div class="user-detail">
            <label>Ім'я:</label>
            <span>@Model.name</span>
        </div>

        <div class="user-detail">
            <label>Прізвище:</label>
            <span>@Model.surname</span>
        </div>

        <div class="user-detail">
            <label>По батькові:</label>
            <span>@Model.middlName</span>
        </div>

        <div class="user-detail">
            <label>Вік:</label>
            <span>@Model.age</span>
        </div>

        <div class="user-detail">
            <label>Номер телефону:</label>
            <span>@Model.phoneNumber</span>
        </div>

        <div class="user-detail">
            <label>Електронна пошта:</label>
            <span>@Model.email</span>
        </div>

        <div class="user-detail">
            <label>Логін:</label>
            <span>@Model.login</span>
        </div>

        <div class="user-detail">
            <label>Адмін:</label>
            <span>@(Model.isAdmin ? "Так" : "Ні")</span>
        </div>

        <div class="action-buttons">
            <form asp-action="EditPersonalData" asp-controller="Dashboard" method="Get"> 
                <button type="submit" class="btn btnPersonalAccount">Редагувати</button>
            </form>

            <form asp-action="HistoryRent" asp-controller="Dashboard" method="Get"> 
                <button type="submit" class="btn btnPersonalAccount">Історія оренди</button>
            </form>

            <form asp-action="ChangeReview" asp-controller="Review" method="Get">
                <button type="submit" class="btn btnPersonalAccount">Всі коментарії</button>
            </form>

            <form asp-action="Logout" asp-controller="Account"> 
                <button type="submit" class="btn btnPersonalAccount">Вийти</button>
            </form>
        </div>
    </div>

</div>
