@using Shop.Data.interfaces
@model AdminAddChangeAutoViewModel

<link href="/css/ChangeInfoAuto_style.css" rel="stylesheet" />
<link href="/css/main.css" rel="stylesheet" />

<div class="form-container">
    <h2>Зміна інформації про автомобіль</h2>

    <form asp-action="ChangeInfoAuto" method="Post" enctype="multipart/form-data" asp-route-idCategory="@Model.Car.id" >
        <div class="form-group">
            <label asp-for="Car.name">Назва автомобіля</label>
            <input asp-for="Car.name" type="text" class="form-control" id="name"  required />
        </div>

        <div class="form-group">
            <label asp-for="Car.shortDesc">Короткий опис</label>
            <input asp-for="Car.shortDesc" type="text" class="form-control" id="shortDesc" required />
        </div>

        <div class="form-group">
            <label asp-for="Car.longDesc">Довгий опис</label>
            <textarea asp-for="Car.longDesc" class="form-control" id="longDesc" rows="4" required></textarea>
        </div>

        <div class="form-group">
            <label asp-for="ImageUpload">Фото автомобіля</label>
            <input asp-for ="ImageUpload" type ="file" class="form-control" id="img" value="@Model.Car.img"  />
            @{
                if(!string.IsNullOrEmpty(Model.Car.img) != null)
                {
                    <div>
                        <img src="@Url.Content(Model.Car.img)" alt="Current Image" style="max-width: 200px; max-height: 200px;"/>
                    </div>
                }
            }

        </div>

        <div class="form-group">
            <label asp-for="Car.price">Ціна</label>
            <input asp-for="Car.price" type="number" class="form-control" id="price" value="@Model.Car.price" required />
        </div>

        <div class="form-group checkbox-group">
            <label asp-for="Car.isFavourite">Вибраний</label>
            <input asp-for="Car.isFavourite" type="checkbox" class="form-check-input" id="isFavourite"/>  @* Car.isFavourite ? "checked" : "" /> *@
        </div>

        <div class="form-group checkbox-group">
            <label asp-for="Car.available">Доступний</label>
            <input asp-for="Car.available" type="checkbox" class="form-check-input" id="available"/>@*  available ? "checked" : "" /> *@
        </div>

        <div class="form-group">
            <label for="categoryID">Категорія</label>
            <select class="form-control" id="categoryID" name="Car.categoryID"  required>
                @{
                    foreach (var item in Model.allCategory.AllCegories)
                    {
                        if (item.Id == Model.Car.categoryID)
                        {
                        <option value="@item.Id" selected>
                            @item.categoryName
                        </option>
                        }
                        else
                        {
                        <option value="@item.Id">
                            @item.categoryName
                        </option>
                        }
                    }
                }
            </select>
        </div>

        <div class="form-group">
            <label for="placeID">Місце</label>
            <select class="form-control" id="placeID" name="idPlaces" required>
                        @{
                            foreach (var item in Model.allPlaces.getAllPlace)
                            {
                                if (item.Id == Model.Car.placeID)
                                {
                                        <option value="@item.Id" selected>
                                        @item.placeName
                                        </option>
                                }
                                else
                                {
                                        <option value="@item.Id">
                                        @item.placeName
                                        </option>
                                }
                            }
                        }
            </select>
        </div>

        <button type="submit" class="btn-primary">Змінити</button>
    </form>
</div>
