@using Shop.Data.interfaces
@model AdminAddChangeAutoViewModel


<link href="/css/ChangeInfoAuto_style.css" rel="stylesheet" /> @* стилі з зміни авто *@

<div class="form-container">

    <form asp-action="FindAutoForChange" asp-controller="AdminZone" method="Post">
        <div class="form-group">
            <label asp-for="Car.name">Назва автомобіля</label>
            <input asp-for="Car.name" type="text" class="form-control" id="name"  required />
        </div>

        <div class="form-group">
            <label asp-for="Car.price">Ціна</label>
            <input asp-for="Car.price" type="number" class="form-control" id="price"  required />
        </div>

        <div class="form-group checkbox-group">
            <label asp-for="Car.isFavourite">Вибраний</label>
            <input asp-for="Car.isFavourite" type="checkbox" class="form-check-input" id="isFavourite"/>  @* Car.isFavourite ? "checked" : "" /> *@
        </div>

        <div class="form-group checkbox-group">
            <label asp-for="Car.available">Доступний</label>
            <input asp-for="Car.available" type="checkbox" class="form-check-input" id="available"/>@*  available ? "checked" : "" /> *@
        </div>

        <div class="form-group">
            <label asp-for="Car.categoryID">Категорія</label>
            <select asp-for="Car.categoryID" class="form-control" id="categoryID" required>
                @{
                    foreach (var item in Model.allCategory.AllCegories)
                    {
                        <option value="@item.Id">@item.categoryName</option>
                    }
                }
            </select>
        </div>


        <button type="submit" class="btn-primary">Знайти автомобіль</button>
    </form>
 </div> 

 <div class="found-cars-container">
    @if (Model != null && Model.FountCars != null)
    {
        foreach (var item in Model.FountCars)
        {
                    <div class="found-car-card">
                        <strong>@item.name</strong> - ₴@item.price<br />
                        Вибраний: @(item.isFavourite ? "Так" : "Ні") |
                        Доступний: @(item.available ? "Так" : "Ні") |
                        Категорія: @item.category?.categoryName
                        <form asp-action="ChangeInfoAuto" asp-controller="AdminZone" asp-route-id= "@item.id" method="Get">
                            <button type="submit" class="btn">Вибрати</button>
                        </form>
                    </div>
        }
    }
</div>

 @* <div> 

    @{
        if(Model != null && Model.FountCars != null)
        {
            @foreach (var item in Model.FountCars)
        {
                        <div class=""> /* нада додати клас form-container*/
                            <div class="form-group">
                                <label for="name">Назва автомобіля</label>
                                <input type="text" class="form-control" id="name" name="name" value="@item.name" required />
                            </div>

                            <div class="form-group">
                                <label for="price">Ціна</label>
                                <input type="number" class="form-control" id="price" name="price" value="@item.price" required />
                            </div>

                            <div class="form-group checkbox-group">
                                <label for="isFavourite">Вибраний</label>
                                <input type="checkbox" class="form-check-input" id="isFavourite" name="isFavourite" @(item.isFavourite ? "checked" : "") />
                            </div>

                            <div class="form-group checkbox-group">
                                <label for="available">Доступний</label>
                                <input type="checkbox" class="form-check-input" id="available" name="available" @(item.available ? "checked" : "") />
                            </div>

                            <div class="form-group">
                                <label for="categoryID">Категорія</label>
                                <input type="number" class="form-control" id="price" name="price" value="@item.category" required />
                            </div>
                        </div>
            }
        }
        

    }
</div> *@