@model Shop.Data.Models.Car

<link href="/css/main.css" rel="stylesheet" />

<div class="content">   
    

    <img src="@Model.img" class="img-thumbnail" alt="@Model.name"/>
    <h2> Модель: @Model.name</h2> 
    <p>@(Model.place.placeName ?? "Без адреси")</p>
    <p>@(Model.place.address ?? "")</p>
    <p>@Model.shortDesc</p>
    <p>Ціна: @Model.price.ToString("c")</p> 
    <p> <a class="btn btn-warning" asp-controller="ShopCart" asp-action="addToCart"  asp-route-id = "@Model.id">Добавити в вибране</a> </p>

</div> 